
:root {
    --primary: #dd24a3f4;
    --dark: #413636;
    --body:#dcc7c7;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.2);
}

/* // : Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 800 */

body {
  font-family: "Sora", "sans-serif";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h5,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

h4,
h6 {
font-weight: 700;
color: var(--body);
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%; /* スマホサイズでも画像が縮小される。 */
  }

section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.navbar .nav-link {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 16px;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;

}

.hero {
    background-image: url(./img/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    position: absolute; /* 親要素（heroクラスの上に配置） */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(37, 39, 71, 0.7); /* 0.7は透明度） */
    z-index: -1;


}


@media only screen and (max-width: 980px) {
    .hero {
        width: 100%;
        background-image: url(./img/main-500.png); /* モバイルでの固定背景問題を回避 */
        background-size: contain;
        background-attachment: scroll;
        background-position:center;
    }
}

@media only screen and (min-width: 981px) {
    .hero {
        background-attachment: fixed; /* デスクトップでは固定背景 */
    }
}


.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height :54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    background-color: var(--primary);
    border-radius: 100px;
    flex: none;
}

.service{
    position: relative;
     overflow: hidden;/*上から降りてくる背景色のはみ出し部分を隠す */
}

.service::after {
    content:"";
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color:var(--body);
}

.service:hover .iconbox {
    background-color:var(--body);
    color: var(--primary);
}

.service:hover::after {
    opacity: 1;
    top: 0;

}

.col-img {
    background-image: url(./img/sub.JPG);
    min-height: 500px;
    background-position: center;
    background-size: cover;
}


/* projects section */

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 39, 71, 0.7);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all 0.4s ease;
}


.project img {
    transition: all 0.4s ease;
}

.project:hover .overlay {
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}

/* team section */
.team-menber img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
}

/* contact section */

form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.04);
}

.footer-top h2,
.footer-top h5,
.footer-top a,
.footer-top a:hover {
    color: var(--body);
}

.footer-top {
    background-color: var(--dark);
    padding: 90px;
    padding-bottom: 90px;
}
